version: '3.8'

services:
  api-gateway:
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file: .env
    container_name: "cem_auth"
    ports:
      - 8080:8080
    expose:
      - 8080
    networks:
      - web
networks:
  web:
    external: true
  postgres-db:
    driver: bridge
